<% content_for :title do %>About ImageMagick<% end %>

<div id="IM-resources" style="margin:50px">
  
<h4>About ImageMagick</h4>
<p>
<ul>
  <li><a href="http://imagemagick.org/script/index.php">ImageMagick homepage</a></li>
  <li><a href="http://en.wikipedia.org/wiki/Imagemagick">Wikipedia: ImageMagick</a></li>
</ul>
</p>

<h4>How to use ImageMagick</h4>
<p>
<ul>
  <li><a href="http://www.imagemagick.org/script/command-line-tools.php">Command-Line Tools</a></li>
  <li><a href="http://www.imagemagick.org/script/command-line-processing.php">Command-Line Processing</a></li>
  <li><a href="http://www.imagemagick.org/script/command-line-options.php">Command-Line Options</a></li>
  <li><a href="http://www.imagemagick.org/Usage/">Examples of ImageMagick usage</a></li>
</ul>
</p>

<h4>Online ImageMagic Apps</h4>
<p>
<ul>
  <li><a href="http://www.imagemagick.org/MagickStudio/scripts/MagickStudio.cgi">ImageMagick Studio</a></li>
  <li><a href="http://www.imagemagick.org/script/command-line-options.php">Jqmagick: ImageMagick & Jquery</a></li>
  <li>This site! <a href="/">Try ImageMagick</a></li>
</ul>
</p>

</div>
