<% content_for :title do %>Try ImageMagick!<% end %>

<center>

<p>
  <img src="/source.jpg" style="margin:20px; display:inline"/></a>
<img src="/source-n.png" style="margin:20px; display:inline"/></a>
</p>

<p>
  <h3>Form here.</h3>
</p>

</center>