<% content_for :title do %>Try ImageMagick!<% end %>

<center>
<p>
  <h1>Try ImageMagick</h1>
</p>
<p>
  <h4>An online interface for the free <a href="http://www.imagemagick.org/">ImageMagick</a> graphics manipulation software.</h4>
</p>
<p>
  <img src="http://www.imagemagick.org/image/wizard.jpg" style="margin:20px"/>
</p>

<p>
  <h3><a href="/images/new">Click here to try it out.</a></h3>
</p>

</center>