<h2>Converted Image</h2>
<br>
<p>
  <strong>Command-line options: </strong>"<%= @image.command %>"
</p>

<p>
  <%= image_tag @image.location, :style => "margin:20px; display:inline" %>
  <%= image_tag "/uploads/pictures/#{@image.id}/converted_image_from_controller.jpg", :style => "margin:20px; display:inline" %>
</p>


<%= link_to 'Image list', new_image_path %>
